.info
   background: $brown_darken

   .info__icons
      a
         color: $orange_lighting
         transition: color 0.3s ease-in-out
         text-decoration: none

         &:hover
            color: $orange_darken

   #logo__navigation
      font-family: $font_main
      word-spacing: 0.6rem

      a
         color: $orange_lighting
         text-decoration: none

         &:hover
            color: $orange_darken
