.info
   background: $brown_darken

.info a
   color: $orange_lighting
   transition: color 0.3s ease-in-out
   text-decoration: none

.info a:hover
   color: $orange_darken

#logo__navigation
   font-family: $font_main
   word-spacing: 0.6rem
   color: $orange_lighting

#logo__navigation a
   text-decoration: none