body {
  background: linear-gradient(to right, rgba(59, 13, 13, 0.6), rgba(59, 13, 13, 0.8)), url(./../../assets/bg.jpeg) center/cover fixed no-repeat;
}

.info {
  background: #391005;
}
.info .info__icons a {
  color: #ffae58;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.info .info__icons a:hover {
  color: #c94118;
}
.info #logo__navigation {
  font-family: "Lobster", cursive;
  word-spacing: 0.6rem;
}
.info #logo__navigation a {
  color: #ffae58;
  text-decoration: none;
}
.info #logo__navigation a:hover {
  color: #c94118;
}

header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(200, 0, 0, 0.3)), url(../../assets/bn.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.row_header__bn {
  min-height: calc(100vh - 94px);
}

.header__banner h1 {
  border-top: 4px solid #f0db00;
  border-bottom: 4px solid #f4f1cb;
  -webkit-animation: toTheRight;
          animation: toTheRight;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes toTheRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toTheRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.header__banner h1 small {
  color: #f4f1cb;
  font-family: "Lobster", cursive;
}

.header__banner h1 strong {
  color: #f1c70a;
  font-family: "Lobster", cursive;
}

.btn__ask {
  color: #f4f1cb;
  background: #391005;
  border-radius: 15px;
  font-size: 2rem;
  border: 2px solid #f1c70a;
  transition: all 0.5s ease-in-out;
  -webkit-animation: toTheLeft;
          animation: toTheLeft;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.btn__ask:hover {
  color: #7E1819;
  border: 2px solid #731819;
  background: #f1c70a;
}

@-webkit-keyframes toTheLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toTheLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn__forward {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #391005;
  background: #ffae58;
  border-radius: 10px;
  transition: all 0.5s ease;
  -webkit-animation: toTheDown;
          animation: toTheDown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.btn__forward:hover {
  color: #391005;
  background: #f0db00;
}

@-webkit-keyframes toTheDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes toTheDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.navbar {
  font-family: "Lobster", cursive;
  background: #391005;
  padding: 20px 20px;
  transition: all 1s ease;
}

.navbar-background {
  padding: 5px 20px;
}

.navbar-brand img {
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.navbar-brand:hover {
  transform: scale(1.1);
}
.navbar-brand:hover {
  color: #ffae58;
}

.nav-link {
  color: #ffae58;
  text-decoration: none;
  display: inline;
  transition: all 1s ease;
  font-size: 23px;
}
.nav-link:hover {
  color: #f1c70a;
}

.nav-btn {
  background: #391005;
  color: #f1c70a;
  border: 2px solid #7E1819;
  font-size: 23px;
  transition: all 1s ease;
}
.nav-btn:hover {
  color: #391005;
  border: 2px solid #7E1819;
  background: #f1c70a;
  transform: rotate(5deg);
}

.toggler-btn {
  border: 2px solid #ffae58;
  padding: 5px;
  transition: all 1s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #ffae58;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(45deg) translate(8px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translate(6px, -3px);
}

.container h1 {
  font-family: "Lobster", cursive;
  color: #f4f1cb;
}

.parent_container {
  font-family: "Lobster", cursive;
}

.item-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.item-container:hover {
  outline: 1px solid #f1c70a;
  outline-offset: -0.8rem;
}
.item-container .item-img {
  transition: all 2s ease;
}
.item-container .item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1c70a;
  border-bottom: 2px solid #f1c70a;
  border-top: 2px solid #f1c70a;
  transition: all 2s ease;
  opacity: 0;
}
.item-container .item-link:hover {
  color: #f4f1cb;
  border: 2px solid #f1c70a;
  background: #391005;
}
.item-container:hover .item-link {
  opacity: 1;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.about_content h1 {
  color: #f1c70a;
}
.about_content h2 {
  font-family: Arial;
  color: #f4f1cb;
  font-size: 1.3rem;
  text-align: justify;
}

.photo__steakhouse {
  transform: rotate(3deg);
  padding-top: 50px;
}

.team {
  padding: 30px 0 40px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  overflow: hidden;
  position: relative;
}
.team .photo {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.team .photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}
.team .photo::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #f1c70a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}
.team .photo::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f1c70a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.team:hover .photo::before {
  height: 100%;
}
.team:hover .photo img {
  box-shadow: 0 0 0 14px #f4f1cb;
  transform: scale(0.7);
}
.team .team__content {
  margin-bottom: 30px;
}
.team .title {
  font-size: 22px;
  font-weight: 700;
  color: #f1c70a;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.team .function {
  display: block;
  font-size: 15px;
  color: #f4f1cb;
  text-transform: capitalize;
}
.team .contact {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f1c70a;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}
.team .contact li {
  display: inline-block;
  color: #391005;
  padding: 10px 20px;
  font-size: 17px;
  transition: all 0.3s ease 0s;
}
.team .contact li:hover {
  color: #f1c70a;
  background: #391005;
  text-decoration: none;
  cursor: pointer;
}
.team:hover .contact {
  bottom: 0;
}

#testimonials h1 {
  color: #f4f1cb;
  font-family: "Lobster", cursive;
}
#testimonials .slick-track {
  width: 100% !important;
}
#testimonials .testimonial__item {
  background: rgba(0, 0, 0, 0.6);
  -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
          clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}
#testimonials .testimonial__item img {
  width: 150px;
}
#testimonials .testimonial__item .testimonial__name {
  color: #f4f1cb;
  font-family: "Lobster", cursive;
}
#testimonials .testimonial__item .testimonial__description {
  font-family: Arial;
  text-align: justify;
}

#contact .map__box {
  min-height: 60vh;
  border-radius: 5px;
}
#contact .form__card {
  background: rgba(0, 0, 0, 0.4);
  transition: all 2s ease;
  border-radius: 20px;
  padding: 20px;
}
#contact .form__card:hover {
  background: rgba(84, 33, 37, 0.4);
}
#contact .form__card input {
  color: #391005;
  border: none;
}
#contact .form__card input::-moz-placeholder {
  color: brown_lighting;
  font-style: italic;
}
#contact .form__card input:-ms-input-placeholder {
  color: brown_lighting;
  font-style: italic;
}
#contact .form__card input::placeholder {
  color: brown_lighting;
  font-style: italic;
}
#contact .form__card textarea::-moz-placeholder {
  color: brown_lighting;
  font-style: italic;
  text-align: center;
}
#contact .form__card textarea:-ms-input-placeholder {
  color: brown_lighting;
  font-style: italic;
  text-align: center;
}
#contact .form__card textarea::placeholder {
  color: brown_lighting;
  font-style: italic;
  text-align: center;
}
#contact .card__heading {
  color: #f4f1cb;
  font-family: "Lobster", cursive;
}
#contact .input-group-text {
  background: #391005;
  border-color: #391005;
  color: #f1c70a;
}
#contact .contact__btn {
  color: #f1c70a;
  background: #391005;
  border-color: #f1c70a;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
#contact .contact__btn:hover {
  background: #f1c70a;
  border-color: #391005;
  color: #391005;
}

footer #footer__copyright a {
  font-family: "Lobster", cursive;
  font-size: 1.3rem;
  color: #f4f1cb;
  transition: all 4s ease;
}
footer #footer__copyright a:hover {
  text-decoration: none;
  color: #f1c70a;
}
footer #back_to_top {
  color: #9F492F;
  display: inline-block;
  transition: 0.5s ease;
}
footer #back_to_top:hover {
  color: #f1c70a;
  text-decoration: none;
}
footer .scrollTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.modal__order {
  width: 350px;
  margin-top: 150px;
}
.modal__order .form-control {
  color: #391005;
  border: 0.2rem solid #7E1819;
  border-radius: 10px;
}
.modal__order .form-control::-moz-placeholder {
  color: #c94118;
  font-style: italic;
}
.modal__order .form-control:-ms-input-placeholder {
  color: #c94118;
  font-style: italic;
}
.modal__order .form-control::placeholder {
  color: #c94118;
  font-style: italic;
}
.modal__order .form-control:focus {
  border-color: #ae986F;
  color: #391005;
  font-weight: bold;
  box-shadow: none;
}
.modal__order .form-control .modal-login .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal__order .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal__order .modal-header {
  border-bottom: none;
  position: relative;
}
.modal__order .modal-header h4 {
  font-family: "Lobster", cursive;
  font-size: 26px;
}
.modal__order .modal-footer {
  background: #391005;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  font-size: 13px;
}
.modal__order .close {
  top: -5px;
  right: -5px;
}
.modal__order .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #391005;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal__order .avatar img {
  width: 100%;
}
.modal__order .btn {
  color: #f4f1cb;
  background: #391005;
  border-color: #391005;
  font-family: "Lobster", cursive;
  font-weight: bold;
  text-decoration: none;
  line-height: normal;
  transition: all 0.4;
}
.modal__order .btn:hover, .modal__order .btn:focus {
  background: #f1c70a;
  border-color: #f1c70a;
  color: #391005;
  font-weight: bold;
}
.modal__order .trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

html {
  overflow-X: hidden;
}

* ::-webkit-scrollbar {
  width: 8px;
}
* ::-webkit-scrollbar-track {
  width: 6px;
  background: #f4f1cb;
}
* ::-webkit-scrollbar-thumb {
  background: #ae986F;
  border-radius: 24px;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #718096;
}/*# sourceMappingURL=main.css.map */