.info {
  background: #391005;
}
.info .info__icons a {
  color: #ffae58;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.info .info__icons a:hover {
  color: #c94118;
}
.info #logo__navigation {
  font-family: "Lobster", cursive;
  word-spacing: 0.6rem;
}
.info #logo__navigation a {
  color: #ffae58;
  text-decoration: none;
}
.info #logo__navigation a:hover {
  color: #c94118;
}

header {
  min-height: calc(100vh - 94px);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(200, 0, 0, 0.3)), url(../../assets/bn.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.row_header__bn {
  min-height: calc(100vh - 94px);
}

.header__banner h1 {
  border-top: 4px solid #f0db00;
  border-bottom: 4px solid #f4f1cb;
  -webkit-animation: toTheRight;
          animation: toTheRight;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes toTheRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toTheRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.header__banner h1 small {
  color: #f4f1cb;
  font-family: "Lobster", cursive;
}

.header__banner h1 strong {
  color: #f1c70a;
  font-family: "Lobster", cursive;
}

.btn__ask {
  color: #f4f1cb;
  background: #391005;
  border-radius: 15px;
  font-size: 2rem;
  border: 2px solid #f1c70a;
  transition: all 0.5s ease-in-out;
  -webkit-animation: toTheLeft;
          animation: toTheLeft;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.btn__ask:hover {
  color: #7E1819;
  border: 2px solid #731819;
  background: #f1c70a;
}

@-webkit-keyframes toTheLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toTheLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.btn__forward {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 50%;
  color: #391005;
  background: #ffae58;
  border-radius: 10px;
  transition: all 0.5s ease;
  -webkit-animation: toTheDown;
          animation: toTheDown;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.btn__forward:hover {
  color: #391005;
  background: #f0db00;
}

@-webkit-keyframes toTheDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes toTheDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.navbar {
  font-family: "Lobster", cursive;
  background: #391005;
  padding: 20px 20px;
  transition: all 1s ease;
}

.navbar-background {
  padding: 5px 20px;
}

.navbar-brand img {
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.navbar-brand:hover {
  transform: scale(1.1);
}
.navbar-brand:hover {
  color: #ffae58;
}

.nav-link {
  color: #ffae58;
  text-decoration: none;
  display: inline;
  transition: all 1s ease;
  font-size: 23px;
}
.nav-link:hover {
  color: #f1c70a;
}

.nav-btn {
  background: #391005;
  color: #f1c70a;
  border: 2px solid #7E1819;
  font-size: 23px;
  transition: all 1s ease;
}
.nav-btn:hover {
  color: #391005;
  border: 2px solid #7E1819;
  background: #f1c70a;
  transform: rotate(5deg);
}

.toggler-btn {
  border: 2px solid #ffae58;
  padding: 5px;
  transition: all 1s ease;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 5px;
  background: #ffae58;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(45deg) translate(8px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(-45deg) translate(6px, -3px);
}

body {
  background: linear-gradient(to right, rgba(59, 13, 13, 0.6), rgba(59, 13, 13, 0.8)), url(./../../assets/bg.jpeg) center/cover fixed no-repeat;
}

.container h1 {
  font-family: "Lobster", cursive;
  color: #f4f1cb;
}

.parent_container {
  font-family: "Lobster", cursive;
}

.item-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
}
.item-container:hover {
  outline: 1px solid #f1c70a;
  outline-offset: -0.8rem;
}
.item-container .item-img {
  transition: all 2s ease;
}
.item-container .item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1c70a;
  border-bottom: 2px solid #f1c70a;
  border-top: 2px solid #f1c70a;
  transition: all 2s ease;
  opacity: 0;
  color: #f4f1cb;
  border: 2px solid #f1c70a;
  background: #391005;
}
.item-container:hover .item-link {
  opacity: 1;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

html {
  overflow-X: hidden;
}

* ::-webkit-scrollbar {
  width: 8px;
}
* ::-webkit-scrollbar-track {
  width: 6px;
  background: #f4f1cb;
}
* ::-webkit-scrollbar-thumb {
  background: #ae986F;
  border-radius: 24px;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #718096;
}/*# sourceMappingURL=main.css.map */